In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import ipywidgets as widgets
import seaborn as sns
import numpy as np
from IPython.display import display

In [6]:
df = pd.read_csv('/Users/daviddornig/Documents/Master_Thesis/Bioinf/Code/philipp-trinh/KOOPOMICS/input_data/pea_fungal/9Metabolite - Infection dataset.csv')

In [7]:
df

,Sample_ID,Plant_ID,Treated pots,dayTreatment,Dpi,Replicate,sol.sugar nmol/mg,aa µmol/mg,flav µg/mg,phe µg/mg,Chla μg/mg,Chlb μg/mg,Caro μg/mg,pisatin µg/mg,Salicylic acid
0,1,1,PC,0PC,0,1,"56,16","56,73","7,66","16,49","3,61","1,33","1,42","2,16","33,53"
1,2,1,PC,2PC,2,1,"51,87","73,45","17,79","18,49","3,96","1,54","1,39","3,17","30,93"
2,3,1,PC,4PC,4,1,"74,92","57,63","23,86","15,65","3,17","1,40","1,22","2,24","38,25"
3,4,1,PC,6PC,6,1,"75,05","55,59","20,66","18,09","3,71","1,42","1,24","1,96","37,69"
4,5,1,PC,10PC,10,1,"70,83","53,10","20,15","15,81","3,15","1,40","1,23","1,88","45,29"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,20,MI,2MI,2,5,"58,58","89,13","23,05","21,07","3,03","0,68","0,77","6,36","83,55"
116,117,20,MI,4MI,4,5,"80,84","97,53","34,35","23,91","2,60","0,55","0,99","6,86","96,73"
117,118,20,MI,6MI,6,5,"93,37","89,39","34,80","24,22","2,57","1,02","0,99","5,91","97,41"
118,119,20,MI,10MI,10,5,"85,55","73,14","29,60","29,14","1,83","1,13","1,19","4,82","94,45"
119,120,20,MI,14MI,14,5,"72,45","72,27","28,93","26,91","2,11","0,47","1,10","4,68","88,55"

# Data imputation

In [9]:
def add_interpolated_dpi_rows(df, dpi_values, timeidentifier='Dpi'):
    # Sort the DataFrame by Dpi to ensure the rows are in the correct order
    df.sort_values(by=timeidentifier, inplace=True)

    # Create a list to hold new DataFrame rows
    new_rows = []

    df.reset_index(drop=True, inplace=True)

    for index, row in df.iterrows():
        # Find the next row where Dpi is greater than the current row
        next_index = index + 1
        if next_index < len(df):
            next_row = df.iloc[next_index]

        # Check if there are any target Dpi values between this row and the next
        target_dpi = [dpi for dpi in dpi_values if row[timeidentifier] < dpi < next_row[timeidentifier]]
        for dpi in target_dpi:
            # Calculate interpolated row
            interpolated_row = row.copy()
            fraction = (dpi - row[timeidentifier]) / (next_row[timeidentifier] - row[timeidentifier])
            for col in df.columns:
                if pd.api.types.is_numeric_dtype(df[col]):
                    # Perform interpolation for numeric columns
                    interpolated_row[col] = row[col] + (next_row[col] - row[col]) * fraction
            interpolated_row[timeidentifier] = dpi  # Set the new Dpi value
            #interpolated_row['dayTreatment'] = f'{dpi}{df["Treated pots"].iloc[index]}'  # Create dayTreatment value if needed
            new_rows.append(interpolated_row)

    # Append new rows to the original DataFrame and sort again
    if new_rows:
        df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
        df.sort_values(by=timeidentifier, inplace=True)

    return df

In [10]:
new_dpi_values = [8, 12]
# Apply function to each group and combine
interpolated_df = pd.concat([add_interpolated_dpi_rows(group, new_dpi_values) for _, group in df.groupby(['Plant_ID', 'Treated pots', 'Replicate'])])

# Sorting and resetting index for clarity
interpolated_df.sort_values(by=['Plant_ID', 'Treated pots', 'Replicate', 'Dpi'], inplace=True)
interpolated_df.reset_index(drop=True, inplace=True)

# Display the modified DataFrame
interpolated_df

,Sample_ID,Plant_ID,Treated pots,dayTreatment,Dpi,Replicate,sol.sugar nmol/mg,aa µmol/mg,flav µg/mg,phe µg/mg,Chla μg/mg,Chlb μg/mg,Caro μg/mg,pisatin µg/mg,Salicylic acid
0,1.0,1.0,PC,0PC,0,1.0,"56,16","56,73","7,66","16,49","3,61","1,33","1,42","2,16","33,53"
1,2.0,1.0,PC,2PC,2,1.0,"51,87","73,45","17,79","18,49","3,96","1,54","1,39","3,17","30,93"
2,3.0,1.0,PC,4PC,4,1.0,"74,92","57,63","23,86","15,65","3,17","1,40","1,22","2,24","38,25"
3,4.0,1.0,PC,6PC,6,1.0,"75,05","55,59","20,66","18,09","3,71","1,42","1,24","1,96","37,69"
4,4.5,1.0,PC,6PC,8,1.0,"75,05","55,59","20,66","18,09","3,71","1,42","1,24","1,96","37,69"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,118.0,20.0,MI,6MI,6,5.0,"93,37","89,39","34,80","24,22","2,57","1,02","0,99","5,91","97,41"
156,118.5,20.0,MI,6MI,8,5.0,"93,37","89,39","34,80","24,22","2,57","1,02","0,99","5,91","97,41"
157,119.0,20.0,MI,10MI,10,5.0,"85,55","73,14","29,60","29,14","1,83","1,13","1,19","4,82","94,45"
158,119.5,20.0,MI,10MI,12,5.0,"85,55","73,14","29,60","29,14","1,83","1,13","1,19","4,82","94,45"
159,120.0,20.0,MI,14MI,14,5.0,"72,45","72,27","28,93","26,91","2,11","0,47","1,10","4,68","88,55"

In [11]:
interpolated_df.to_csv('9Metabolite_pea_interpolated_preprocessed.csv', index=False)

# Normalization